.infograf
  &__el
    display: flex
    flex-direction: column
    padding: 2.5rem 2rem
    gap: 2rem
    background: $gray-light
    border-radius: 2rem

    svg
      color: $red

    .text
      display: flex
      flex-direction: column
      gap: 1rem

      .subtitle-1
        display: block
        max-width: 19rem

  &__icon
    display: flex
    align-items: center
    justify-content: center
    width: 4.8rem
    height: 4.8rem
    background: $white
    border-radius: 100%
    margin-bottom: -1rem
