.page-index
  .banner
    &__content
      display: flex
      align-items: center
      justify-content: space-between
      background: $gray-light
      border-radius: 2rem
      padding: 6px 0

      h1
        padding-left: 3.5rem

        mark
          background: transparent
          color: $red

  .infograf
    .infograf__content
      background: $gray-light
      border-radius: 2rem

