.catalog
  display: flex
  align-items: stretch
  justify-content: space-between

  @include mobile
    flex-direction: column-reverse
    gap: 3rem

  &__filter
    background: $gray-light
    border-radius: 2rem
    padding: 3rem 2rem
    display: flex
    flex-direction: column
    gap: 1rem
    width: 30rem

    @include tablet
      width: 25rem

    @include mobile
      width: 100%

    details
      font-weight: 600

      &[open] summary

        &:after
          transform: translateY(-50%) rotate(180deg)

      summary
        margin-bottom: 0

        & > *
          color: $gray-text

        &:after
          top: 50%
          transform: translateY(-50%)

  &__list
    display: flex
    flex-direction: column
    gap: 1rem
    padding-top: 1rem

    li
      display: block
      padding-left: 2rem
      position: relative

      &:before
        position: absolute
        content: ""
        top: 1rem
        left: .8rem
        width: 4px
        height: 4px
        border-radius: 100%
        background: $gray-text
        transform: translate(-50%,-50%)

      a
        color: $gray-text
        @include transition

        &:hover
          color: $red

  &__categories
    width: calc(100% - 32rem)

    @include tablet
      width: calc(100% - 27rem)

    @include mobile
      width: 100%

    .categories__list
      .category
        width: calc((100% + 2rem) / 3 - 2rem)

        @include tablet
          width: calc((100% + 2rem) / 2 - 2rem)

        @include mobile
          width: 100%

        &__name
          left: 2rem
          bottom: 2rem

          @include mobile
            left: auto
            bottom: auto

