include ../views/layouts/layout_bootstrap.pug

block content
    .container
        .page-header
            h1 Верстка по макета

        .list-group
            .list-group-item.active Pages

            a.list-group-item(href="pageUi.html")
                h4 pageUi

            a.list-group-item(href="pageIndex.html")
                h4 Главная

            a.list-group-item(href="pageCatalog.html")
                h4 Каталог

            a.list-group-item(href="pageCategory.html")
                h4 Категория

            a.list-group-item(href="pageSubcategory.html")
                h4 Подкатегория

            a.list-group-item(href="pageItem.html")
                h4 Товар

            a.list-group-item(href="pageCart.html")
                h4 Корзина