extends ../views/layouts/layout

block vars
    - var pageClass = 'page-blog'

block content
    section
        .section__header
            ul.breadcrumbs
                li.breadcrumbs__el
                    a(href='') Главная
                li.breadcrumbs__el
                    a(href='') Блог
                li.breadcrumbs__el
                    span Статья

        .article__data
            h1 Подготовка к ремонту
            img(src='/src/assets/images/icon--filter-1.svg' alt='')
            time.article__date.semibold 03.10.2024

        .article__header
            .article__content
                h3 Оглавление

                ul.content
                    li.content__el
                        span.subtitle-2.c-red Подготовка к ремонту: что важно учесть
                    li.content__el
                        span.subtitle-2.c-red Этапы планирования ремонта

                        ol
                            li Выбор материалов
                            li Оценка бюджета
                            li Поиск подрядчиков
                    li.content__el
                        span.subtitle-2.c-red Необходимые инструменты
                    li.content__el
                        span.subtitle-2.c-red Заключение

            .article__preview
                p Ремонт&nbsp;&mdash; это сложный и&nbsp;многогранный процесс, который требует не&nbsp;только времени и&nbsp;ресурсов, но&nbsp;и&nbsp;грамотного планирования. Многие люди, начиная ремонт, сталкиваются с&nbsp;рядом проблем: завышенными сметами, нехваткой материалов, несоответствием запланированных сроков и&nbsp;качеством выполненных работ. Чтобы избежать этих трудностей и&nbsp;сделать ремонт максимально эффективным и&nbsp;комфортным, важно заранее продумать все детали.
                p Часто люди недооценивают значимость этапа подготовки, считая, что главное&nbsp;&mdash; начать как можно быстрее. Но, как показывает практика, именно тщательная подготовка помогает минимизировать риск возникновения неожиданных проблем и&nbsp;уберечь бюджет от&nbsp;непредвиденных расходов. Важно помнить, что ремонт&nbsp;&mdash; это не&nbsp;только про красоту и&nbsp;обновление пространства, но&nbsp;и&nbsp;про безопасность, надежность и&nbsp;долговечность.
                p В&nbsp;этой статье мы&nbsp;расскажем, как правильно подойти к&nbsp;ремонту, на&nbsp;что обратить внимание при выборе материалов, как составить грамотный бюджет и&nbsp;найти квалифицированных специалистов. Мы&nbsp;также обсудим, какие документы могут понадобиться для проведения работ, и&nbsp;дадим полезные советы по&nbsp;организации процесса.

    section
        article
            h2 Подготовка к ремонту: что важно учесть
            h3 Заголовок маленький

            img(src='/src/assets/images/img--article.jpg' alt='')

            p Ремонт&nbsp;&mdash; это сложный и&nbsp;многогранный процесс, который требует не&nbsp;только времени и&nbsp;ресурсов, но&nbsp;и&nbsp;грамотного планирования. Многие люди, начиная ремонт, сталкиваются с&nbsp;рядом проблем: завышенными сметами, нехваткой материалов, несоответствием запланированных сроков и&nbsp;качеством выполненных работ. Чтобы избежать этих трудностей и&nbsp;сделать ремонт максимально эффективным и&nbsp;комфортным, важно заранее продумать все детали.
            p Часто люди недооценивают значимость этапа подготовки, считая, что главное&nbsp;&mdash; начать как можно быстрее. Но, как показывает практика, именно тщательная подготовка помогает минимизировать риск возникновения неожиданных проблем и&nbsp;уберечь бюджет от&nbsp;непредвиденных расходов. Важно помнить, что ремонт&nbsp;&mdash; это не&nbsp;только про красоту и&nbsp;обновление пространства, но&nbsp;и&nbsp;про безопасность, надежность и&nbsp;долговечность.
            p В&nbsp;этой статье мы&nbsp;расскажем, как правильно подойти к&nbsp;ремонту, на&nbsp;что обратить внимание при выборе материалов, как составить грамотный бюджет и&nbsp;найти квалифицированных специалистов. Мы&nbsp;также обсудим, какие документы могут понадобиться для проведения работ, и&nbsp;дадим полезные советы по&nbsp;организации процесса.

            p
                strong Выделение жирным

            p.c-red
                strong Выделение жирным + цветом

            a(href="https://www.youtube.com/watch?v=ktXmCb1EqxY" data-fancybox="video-gallery")
                img(src='/src/assets/images/img--article.jpg' alt='')

            ul
                li Маркированный список
                li Маркированный список
                li Маркированный список

            P Текст

            ol
                li Нумерованный список
                li Нумерованный список
                li Нумерованный список

            h2 Для отступов и рамки в таблице, она должна быть внутри обертки с классом "table"

            .table
                table
                    tr
                        th Категория материалов
                        th Примеры
                        th Рекомендации
                    tr
                        td Отделочные материалы
                        td Обои, краска, плитка
                        td Подберите материалы с учетом влажности помещения
                    tr
                        td Черновые материалы
                        td Штукатурка, цемент, шпаклевка
                        td Обратите внимание на срок годности и условия хранения

            blockquote
                strong 📌 Главная ошибка при подготовке к ремонту
                =" "
                | — это недооценка его сложности и объема работ. Чем больше вы вложите времени и сил в предварительное планирование, тем легче будет реализовать все задуманное в срок и в рамках бюджета.



