extends ../views/layouts/layout

block vars
    - var pageClass = 'page-checkout'

block content
    script(src="https://api-maps.yandex.ru/2.1/?apikey=a05aacec-6f3a-46fa-a45b-ad4882c9f689&lang=ru_RU" type="text/javascript")

    section
        .section__header
            ul.breadcrumbs
                li.breadcrumbs__el
                    a(href='') Главная
                li.breadcrumbs__el
                    a(href='') Корзина
                li.breadcrumbs__el
                    span Оформление

        .checkout
            .row.row-3
                .col-2-start
                    .checkout__container
                        .checkout__step
                            .composition
                                h3 Состав заказа
                                hr

                                ul.cart__list
                                    li.cart__el
                                        .product.product-horisontal
                                            picture.product__images
                                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                                            .product__content
                                                p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                                            .product__quantity
                                                span 1шт

                                            .product__price
                                                span.price 7800 ₽
                                                span.c-gray 600 ₽/сутки
                                                span.c-gray Залог 101.500 ₽

                                    li.cart__el
                                        .product.product-horisontal
                                            picture.product__images
                                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                                            .product__content
                                                p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                                            .product__quantity
                                                span 1шт

                                            .product__price
                                                span.price 5800 ₽
                                                span.c-gray 600 ₽/сутки
                                                span.c-gray Залог 101.500 ₽

                                    li.cart__el
                                        .product.product-horisontal
                                            picture.product__images
                                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                                            .product__content
                                                p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                                            .product__quantity
                                                span 1шт

                                            .product__price
                                                span.price 4500 ₽
                                                span.c-gray 600 ₽/сутки
                                                span.c-gray Залог 101.500 ₽

                        .checkout__step.filled
                            h3
                                span.c-red 1
                                =" "
                                =" Данные покупателя"

                            .row.row-2
                                input(type='text' name='' placeholder='ФИО').input.input-name
                                input(type='text' name='' placeholder='Введите мобильный номер телефона').input.input-phone.js--input-phone

                        .checkout__step
                            h3
                                span.c-red 2
                                =" "
                                ="Способ получения"

                            label.get
                                input(type='radio' checked name='delivery').hidden
                                .details
                                    .details__summary
                                        .justify
                                            .details__header
                                                svg(width=46 height=46 fill='none')
                                                    use(xlink:href='/public/sprite.svg#icon--build')
                                                span.subtitle-2 Самовывоз

                                            span.c-green
                                                strong Бесплатно

                                    .details__content
                                        .address
                                            .address__left
                                                .address__container
                                                    span
                                                        strong Адрес офиса:
                                                    span.c-gray г. Москва, ул. Полбина д. 3 ст3
                                                .address__container
                                                    img(src='/src/assets/images/map--office.jpg' alt='Офис')
                                                .address__container
                                                    span
                                                        strong График
                                                    span.c-gray Пн, Вт, Ср, Чт, Пт - с 08:00 до 20:00
                                                    span.c-gray Сб, Вс - выходной
                                                .address__container
                                                    span
                                                        strong Телефон:
                                                    a(href='tel:87483233344').c-gray + 7 (748) 323 - 33 - 44

                                            .address__right
                                                div(id='officeMap').map


                            label.get
                                input(type='radio' name='delivery').hidden
                                .details
                                    .details__summary
                                        .justify
                                            .details__header
                                                svg(width=46 height=46 fill='none')
                                                    use(xlink:href='/public/sprite.svg#icon--self-delivery')
                                                span.subtitle-2 Самовывоз из&nbsp;пункта выдачи

                                            span.c-green
                                                strong  от 190 ₽

                                    .details__content
                                        .address
                                            // класс .js--control-map добавляет переключение карты при клике на пункты списка
                                            .address__left.js--control-map
                                                div(data-lat='55.753994' data-lan='37.622093').address__container.active
                                                    span
                                                        strong Адрес: г. Москва, ул. Полбина д. 3 ст3
                                                    span.c-gray Пн - пт: с 09 до 18:00
                                                    span.c-gray Сб - Вс: Выходной

                                                div(data-lat='55.907228' data-lan='31.260503').address__container
                                                    span
                                                        strong Адрес: г. Москва, ул. Полбина д. 3 ст3
                                                    span.c-gray Пн - пт: с 09 до 18:00
                                                    span.c-gray Сб - Вс: Выходной

                                            .address__right
                                                div(id='pointsMap').map

                            label.get
                                input(type='radio' name='delivery').hidden
                                .details
                                    .details__summary
                                        .justify
                                            .details__header
                                                svg(width=46 height=46 fill='none')
                                                    use(xlink:href='/public/sprite.svg#icon--delivery')
                                                span.subtitle-2 Доставка

                                            span.c-green
                                                strong  от 590 ₽

                                    .details__content
                                        .row.row-3.delivery__data
                                            .col-3.search-address
                                                .search-address__container
                                                    input(type='text' name='' placeholder='Адрес').input.input-location

                                                    // видимость управляется классом hidden
                                                    .search-address__result.hidden
                                                        ul
                                                            li
                                                                span г.Москва Долгопрудного 18А
                                                            li
                                                                span г.Москва Долгопрудного 18А
                                                            li
                                                                span г.Москва Долгопрудного 18А

                                            input(type='text' name='' value='Подъезд: ').input
                                            input(type='text' name='' value='Этаж: ').input
                                            input(type='text' name='' value='Домофон:').input

                                            .col-3.interval
                                                .justify
                                                    span.semibold Выбрать интервал доставки:

                                                    .interval__values
                                                        label.checkbox
                                                            input(type="radio" name='interval')
                                                            span.checkbox__text  с 10:00 до 14:00
                                                        label.checkbox
                                                            input(type="radio" name='interval')
                                                            span.checkbox__text с 14:00 до 18:00
                                                        label.checkbox
                                                            input(type="radio" name='interval')
                                                            span.checkbox__text с 18:00 до 21:00

                                            .col-3
                                                textarea(name='' placeholder='Комментарий к доставке').input.input-messsage

                .total
                    h3 Итог

                    .total__container
                        span.subtitle-1 Время аренды

                        ul.total__list
                            li
                                span.total__param Срок аренды
                                span.total__value 31 мая - 5 июня
                            li
                                span.total__param Количество дней
                                span.total__value 6 дней

                    .total__container
                        span.subtitle-1 Способ получения

                        ul.total__list
                            li
                                span.total__param Способ получения
                                span.total__value Самовывоз
                            li
                                span.total__param Место получения
                                span.total__value Офис Печатники

                    .total__container.confirmation
                        span.subtitle-1 Суммы

                        ul.total__list
                            li
                                span.total__param Аренда
                                span.total__value 3689 ₽
                            li
                                span.total__param Залог
                                span.total__value.c-gray 13400 ₽
                            li
                                p.notification  *Залог возвращается при завершении аренды

                        .button-wrap
                            button(disabled).button.button-green.disabled Подтвердить заказ
                            button.button.button-green Подтвердить заказ
                            span.c-gray Нажимая на&nbsp;кнопку, вы&nbsp;даете согласие на&nbsp;обработку персональных данных. Ваши данные будут использоваться только для организации проката вещей и&nbsp;не&nbsp;будут переданы третьим лицам.

    section.insurance
        h3 Страховка аренды

        .row.row-3
            .insurance__on
                label.checkbox
                    input(type="checkbox")
                    .checkbox__icon
                    span.checkbox__text.c-red Включить защиту?

                span.c-gray Сумма заказа пересчитается автоматически

            .col-2-end
                p.subtitle-2 В&nbsp;случае повреждения вещи, мы&nbsp;покроем все расходы на&nbsp;ремонт&nbsp;&mdash; вам не&nbsp;придется платить.
                a(href='').c-red.semibold Условия защиты

    include ../views/components/steps
    include ../views/components/about
    include ../views/components/review