section.about
  h2 О&nbsp;нас

  .about__content
    .about__text
      p.subtitle-2 На&nbsp;протяжении пяти лет мы&nbsp;ежедневно трудимся над тем, чтобы аренда вещей у&nbsp;нас доставила Вам удовольствие. Наш склад насчитывает более 500&nbsp;вещей, за&nbsp;каждой вещью следят наши специалисты, которые поддерживают товарный вид и&nbsp;знают все особенности использования.
    .about__img
      picture
        source(type='image/webp' srcset='/src/assets/images/img--about-banner@2x.webp 2x, /src/assets/images/img--about-banner.webp 1x')
        img(src='/src/assets/images/img--about-banner@2x.png 2x, /src/assets/images/img--about-banner.png 1x')

  .infograf__content.row.row-3
    .infograf__el
      .infograf__icon
        svg(width=46 height=46 fill='none')
          use(xlink:href='/public/sprite.svg#icon--check')

      .text
        h3 С&nbsp;нами
          br
          | надежно
        p Мы&nbsp;предлагаем прозрачные условия аренды. Гарантируем доставку чистых вещей в&nbsp;срок и&nbsp;в&nbsp;полной комплектации.

    .infograf__el
      .infograf__icon
        svg(width=40 height=40 fill='none')
          use(xlink:href='/public/sprite.svg#icon--phone')

      .text
        h3 Профессиональная консультация
        p Менеджер сможет ответить на&nbsp;все вопросы об&nbsp;аренде вещей. Мы&nbsp;изучаем инструкции и&nbsp;проводим тестовые испытания каждой позиции на&nbsp;складе.

    .infograf__el
      .infograf__icon
        svg(width=46 height=46 fill='none')
          use(xlink:href='/public/sprite.svg#icon--build')

      .text
        h3 Собственный
          br
          | шоу-рум
        p Если вам нужно ознакомиться с&nbsp;вещью перед арендой, приезжайте в&nbsp;наш шоу-рум, где представлен ассортимент наших вещей. Любую вещь можно посмотреть и&nbsp;проверить.