footer.footer
    .container
        nav.footer__top
            .justify
                .footer__col
                    a(href='').logo
                        img(src='/src/assets/images/logo.svg' alt='лого')

                .footer__col
                    h3.nav__title О&nbsp;компании

                    ul.nav__list
                        li.nav__el
                            a(href="") Реквизиты
                        li.nav__el
                            a(href="") О&nbsp;нас
                        li.nav__el
                            a(href="") Пользовательское соглашение
                        li.nav__el
                            a(href="") Вакансии

                .footer__col
                    h3.nav__title Условия аренды

                    ul.nav__list
                        li.nav__el
                            a(href="") Правила аренды вещей
                        li.nav__el
                            a(href="") Условия доставки и&nbsp;самовывоза
                        li.nav__el
                            a(href="") Правила возврата вещей
                        li.nav__el
                            a(href="") Если что-то пошло не&nbsp;так

                .footer__col
                    h3.nav__title &nbsp;

                    ul.nav__list
                        li.nav__el
                            a(href="") График работы
                        li.nav__el
                            a(href="") Отзывы о&nbsp;нас
                        li.nav__el
                            a(href="") Контакты

                .footer__col
                    .social
                        a(href='').button.button-gray
                            svg(width=24 height=24)
                                use(xlink:href='/public/sprite.svg#icon--whatsapp-black')
                        a(href='').button.button-gray
                            svg(width=24 height=24)
                                use(xlink:href='/public/sprite.svg#icon--tg-black')
                        a(href='').button.button-gray
                            svg(width=24 height=24)
                                use(xlink:href='/public/sprite.svg#icon--vk-black')
                        a(href='').button.button-gray
                            svg(width=24 height=24 fill='transparent')
                                use(xlink:href='/public/sprite.svg#icon--youtube-black')

        .footer__bottom
            .justify
                .footer__copyright
                    span &copy;&nbsp;2024, YouRent.me
                    a(href="") Оферта
                    a(href="") Политика конфеденциальности

                .footer__banks
                    img(src='/src/assets/images/logo--sbp.svg' alt='Система быстрых платежей')
                    img(src='/src/assets/images/logo--mc.svg' alt='MasterCard')
                    img(src='/src/assets/images/logo--visa.svg' alt='Visa')
                    img(src='/src/assets/images/logo--union.svg' alt='Union Pay')
                    img(src='/src/assets/images/logo--mir.svg' alt='Мир')

.hidden
    div(id='more').modal.params
        .params__container
            h3.h3 Все категории

            ul.categories__list
                a(href='').button.button-yellow Интересные предложения
                a(href='').button.button-gray  Палатки и&nbsp;спальники
                a(href='').button.button-gray Велосипеды
                a(href='').button.button-gray Игровые приставки
                a(href='').button.button-gray Строй инструменты
                a(href='').button.button-gray Проекторы и&nbsp;TV
                a(href='').button.button-gray Пылесосы

    div(id='towns').modal.towns
        h3.h3 Выберите свой город

        form(action='' method='').towns__form
            input(type='text' placeholder='Введите название города').input.input-location
            button(type='submit').button.button-red Сохранить

        ul.towns__list
            li.towns__el.active
                span Москва
            li.towns__el
                span Королев
            li.towns__el
                span Электросталь
            li.towns__el
                span Дзержинский
            li.towns__el
                span Павловский Посад
            li.towns__el
                span Ретов
            li.towns__el
                span Зарайск

    div(id='call').modal.call
        h3.h3 Перезвоните мне

        form(action='' method='').call__form
            span Оставьте заявку и&nbsp;наши менеджеры  с&nbsp;вами свяжутся
            input(type='text' placeholder='Ваше имя').input.input-name
            input(type='text' placeholder='Номер телефона').input.input-phone
            button(type='submit').button.button-red     Перезвонить мне
            span Вы&nbsp;соглашаетесь на&nbsp;обработку
                =" "
                a(href='') персональных данных