footer.footer
    .container
        nav.footer__top
            .justify
                .footer__col
                    a(href='').logo
                        span logo

                .footer__col
                    h3.nav__title О&nbsp;компании

                    ul.nav__list
                        li.nav__el
                            a(href="") Реквизиты
                        li.nav__el
                            a(href="") О&nbsp;нас
                        li.nav__el
                            a(href="") Пользовательское соглашение
                        li.nav__el
                            a(href="") Вакансии

                .footer__col
                    h3.nav__title Условия аренды

                    ul.nav__list
                        li.nav__el
                            a(href="") Правила аренды вещей
                        li.nav__el
                            a(href="") Условия доставки и&nbsp;самовывоза
                        li.nav__el
                            a(href="") Правила возврата вещей
                        li.nav__el
                            a(href="") Если что-то пошло не&nbsp;так

                .footer__col
                    h3.nav__title &nbsp;

                    ul.nav__list
                        li.nav__el
                            a(href="") График работы
                        li.nav__el
                            a(href="") Отзывы о&nbsp;нас
                        li.nav__el
                            a(href="") Контакты

                .footer__col
                    .social
                        a(href='').button.button-gray
                            svg(width=24 height=24)
                                use(xlink:href='/public/sprite.svg#icon--whatsapp-black')
                        a(href='').button.button-gray
                            svg(width=24 height=24)
                                use(xlink:href='/public/sprite.svg#icon--tg-black')
                        a(href='').button.button-gray
                            svg(width=24 height=24)
                                use(xlink:href='/public/sprite.svg#icon--vk-black')
                        a(href='').button.button-gray
                            svg(width=24 height=24 fill='transparent')
                                use(xlink:href='/public/sprite.svg#icon--youtube-black')

        .footer__bottom
            .justify
                .footer__copyright
                    span &copy;&nbsp;2024, YouRent.me
                    a(href="") Оферта
                    a(href="") Политика конфеденциальности

                .footer__banks
                    img(src='/src/assets/images/logo--sbp.svg' alt='Система быстрых платежей')
                    img(src='/src/assets/images/logo--mc.svg' alt='MasterCard')
                    img(src='/src/assets/images/logo--visa.svg' alt='Visa')
                    img(src='/src/assets/images/logo--union.svg' alt='Union Pay')
                    img(src='/src/assets/images/logo--mir.svg' alt='Мир')