header.header
    .header__alert
        .container
            span Срочное текстовое объявление

    .header__top
        .container
            .justify
                .hinfo
                    button(data-fancybox data-src='#towns').hinfo__el.location.js--select-town
                        svg(width=24 height=24 fill="none")
                            use(xlink:href='/public/sprite.svg#icon--location')
                        span Москва
                        svg(width=24 height=24)
                            use(xlink:href='/public/sprite.svg#angle--bottom')

                    .hinfo__el
                        svg(width=24 height=24 fill="none")
                            use(xlink:href='/public/sprite.svg#icon--clock')
                        span Ежедневно с&nbsp;8&nbsp;до&nbsp;21&nbsp;по&nbsp;Москве

                .contacts
                    button(data-fancybox data-src='#call').contacts__el
                        svg(width=24 height=24 fill="none")
                            use(xlink:href='/public/sprite.svg#icon--phone')
                        span Перезвоните мне

                    a(href='mailto:mailto@sdf.com').contacts__el
                        svg(width=24 height=24 fill="none")
                            use(xlink:href='/public/sprite.svg#icon--mail')
                        span Почта

                    a(href='phone:+75899909999').phone 8 (589) 990 99 99

                    a(href='').social
                        svg(width=24 height=24 fill="none")
                            use(xlink:href='/public/sprite.svg#icon--whatsapp')
                    a(href='').social
                        svg(width=24 height=24 fill="none")
                            use(xlink:href='/public/sprite.svg#icon--telegram')

                    .hamburger.js--toggle-menu
                        span

    .header__bottom
        .header__links
            .container
                .justify
                    nav.header__navigation
                        a(href='').logo
                            img(src='/src/assets/images/logo.svg' alt='лого')

                        a(href='').catalog.button.button-red
                            svg(width=24 height=24 fill="none")
                                use(xlink:href='/public/sprite.svg#icon--catalog')
                            span Каталог

                        ul.nav__list
                            li.nav__el
                                a(href='') Главная
                            li.nav__el
                                a(href='') Условия аренды
                            li.nav__el
                                a(href='') Контакты
                            li.nav__el
                                a(href='') Страхование аренды

                    .header__control
                        form(action='' method='').search
                            input(type='text' name='' placeholder='Поиск по сайту').js--search
                            button(type='submit').button.button-gray.search__icon
                                svg(width=24 height=24 fill="none")
                                    use(xlink:href='/public/sprite.svg#icon--search')

                        .cart.button.button-gray
                            svg(width=24 height=24 fill="none")
                                use(xlink:href='/public/sprite.svg#icon--cart')
                            span.counter 2

                        button.no-style.mobile-search-toggle.js--toggle-search


        .header__categories
            .container
                ul.categories__list
                    a(href='').button.button-yellow Интересные предложения
                    a(href='').button.button-gray  Палатки и&nbsp;спальники
                    a(href='').button.button-gray Велосипеды
                    a(href='').button.button-gray Игровые приставки
                    a(href='').button.button-gray Строй инструменты
                    a(href='').button.button-gray Проекторы и&nbsp;TV
                    a(href='').button.button-gray Пылесосы
                    button(data-fancybox data-src='#more').button.button-gray.more
                        svg(width=24 height=24 fill="none")
                            use(xlink:href='/public/sprite.svg#icon--dots')


    .header__result.hidden
        .background
        .content
            .text-right
                button.no-style.button-close.js--close-search
                    svg(width=24 height=24)
                        use(xlink:href='/public/sprite.svg#icon--close-red')

            include product-slider-cart-inner

            h3.h3 Перейти в раздел

            include subccategories__list