section.infograf
    .infograf__content.row.row-4
        .infograf__el
            svg(width=46 height=46 fill='none')
                use(xlink:href='/public/sprite.svg#icon--warehouse')
            .text
                span.subtitle-1 Собственный склад
        .infograf__el
            svg(width=46 height=46 fill='none')
                use(xlink:href='/public/sprite.svg#icon--delivery')
            .text
                span.subtitle-1 Доставка в&nbsp;день обращения
        .infograf__el
            svg(width=46 height=46 fill='none')
                use(xlink:href='/public/sprite.svg#icon--quality')
            .text
                span.subtitle-1 Прозрачные условия аренды
        .infograf__el
            svg(width=46 height=46 fill='none')
                use(xlink:href='/public/sprite.svg#icon--users')
            .text
                span.subtitle-1 Работаем с&nbsp;юр. Лицами