section.categories
    h2 Популярные категории

    .categories__list
        a(href='').category.category-l
            .category__img
                picture
                    source(type='image/webp' srcset='/src/assets/images/img--category-1@2x.webp 2x, /src/assets/images/img--category-1.webp 1x')
                    img(src='/src/assets/images/img--category-1@2x.png 2x, /src/assets/images/img--category-1.png 1x')

            span.category__name Палатки и спальники

        a(href='').category
            .category__img
                picture
                    source(type='image/webp' srcset='/src/assets/images/img--category-2@2x.webp 2x, /src/assets/images/img--category-2.webp 1x')
                    img(src='/src/assets/images/img--category-2@2x.png 2x, /src/assets/images/img--category-2.png 1x')

            span.category__name Велосипеды

        a(href='').category
            .category__img
                picture
                    source(type='image/webp' srcset='/src/assets/images/img--category-3@2x.webp 2x, /src/assets/images/img--category-3.webp 1x')
                    img(src='/src/assets/images/img--category-3@2x.png 2x, /src/assets/images/img--category-3.png 1x')

            span.category__name Игровые приставки и&nbsp;VR

        a(href='').category
            .category__img
                picture
                    source(type='image/webp' srcset='/src/assets/images/img--category-4@2x.webp 2x, /src/assets/images/img--category-4.webp 1x')
                    img(src='/src/assets/images/img--category-4@2x.png 2x, /src/assets/images/img--category-4.png 1x')

            span.category__name Стройинструменты

        a(href='').category
            .category__img
                picture
                    source(type='image/webp' srcset='/src/assets/images/img--category-5@2x.webp 2x, /src/assets/images/img--category-5.webp 1x')
                    img(src='/src/assets/images/img--category-5@2x.png 2x, /src/assets/images/img--category-5.png 1x')

            span.category__name Проекторы и&nbsp;TV

        a(href='').category.category-l
            .category__img
                picture
                    source(type='image/webp' srcset='/src/assets/images/img--category-6@2x.webp 2x, /src/assets/images/img--category-6.webp 1x')
                    img(src='/src/assets/images/img--category-6@2x.png 2x, /src/assets/images/img--category-6.png 1x')

            span.category__name Пылесосы, уборка и&nbsp;клининг


