section.tabs
    h2 Медиа

    .section__header.justify
        ul.tabs__caption
            li.active Статьи
            li Обзоры
            li Видео

        .slider-buttons
            .swiper-button-prev.button.button.button-gray.swiper-button-prev
                svg(width=24 height=24)
                    use(xlink:href='/public/sprite.svg#angle--left')
            .swiper-button-next.button.button-gray.swiper-button-next
                svg(width=24 height=24)
                    use(xlink:href='/public/sprite.svg#angle--right')

    .tabs__content.active
        .swiper.js--media-slider
            .swiper-wrapper
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-1.webp 1x')
                            img(src='/src/assets/images/img--media-1.jpg 1x')

                        .media__content
                            span.subtitle-1 Что стоит взять в&nbsp;аренду для идеального путешествия?
                            span.subtitle-2 12.09.2024
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-1.webp 1x')
                            img(src='/src/assets/images/img--media-1.jpg 1x')

                        .media__content
                            span.subtitle-1 Как сделать ремонт без лишних затрат?
                            span.subtitle-2 16.10.2024
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-1.webp 1x')
                            img(src='/src/assets/images/img--media-1.jpg 1x')

                        .media__content
                            span.subtitle-1 Как организовать незабываемый вечер без лишних хлопот?
                            span.subtitle-2 05.12.2024
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-1.webp 1x')
                            img(src='/src/assets/images/img--media-1.jpg 1x')

                        .media__content
                            span.subtitle-1 Что стоит взять в&nbsp;аренду для идеального путешествия?
                            span.subtitle-2 12.09.2024

    .tabs__content
        .swiper.js--media-slider
            .swiper-wrapper
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-2.webp 1x')
                            img(src='/src/assets/images/img--media-2.jpg 1x')

                        .media__content
                            span.subtitle-1 Что стоит взять в&nbsp;аренду для идеального путешествия?
                            span.subtitle-2 12.09.2024
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-2.webp 1x')
                            img(src='/src/assets/images/img--media-2.jpg 1x')

                        .media__content
                            span.subtitle-1 Как сделать ремонт без лишних затрат?
                            span.subtitle-2 16.10.2024
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-2.webp 1x')
                            img(src='/src/assets/images/img--media-2.jpg 1x')

                        .media__content
                            span.subtitle-1 Как организовать незабываемый вечер без лишних хлопот?
                            span.subtitle-2 05.12.2024
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-2.webp 1x')
                            img(src='/src/assets/images/img--media-2.jpg 1x')

                        .media__content
                            span.subtitle-1 Что стоит взять в&nbsp;аренду для идеального путешествия?
                            span.subtitle-2 12.09.2024

    .tabs__content
        .swiper.js--media-slider
            .swiper-wrapper
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-3.webp 1x')
                            img(src='/src/assets/images/img--media-3.jpg 1x')

                        .media__content
                            span.subtitle-1 Что стоит взять в&nbsp;аренду для идеального путешествия?
                            span.subtitle-2 12.09.2024
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-3.webp 1x')
                            img(src='/src/assets/images/img--media-3.jpg 1x')

                        .media__content
                            span.subtitle-1 Как сделать ремонт без лишних затрат?
                            span.subtitle-2 16.10.2024
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-3.webp 1x')
                            img(src='/src/assets/images/img--media-3.jpg 1x')

                        .media__content
                            span.subtitle-1 Как организовать незабываемый вечер без лишних хлопот?
                            span.subtitle-2 05.12.2024
                .swiper-slide
                    a(href='').media
                        picture.media__img
                            source(type='image/webp' srcset='/src/assets/images/img--media-3.webp 1x')
                            img(src='/src/assets/images/img--media-3.jpg 1x')

                        .media__content
                            span.subtitle-1 Что стоит взять в&nbsp;аренду для идеального путешествия?
                            span.subtitle-2 12.09.2024
