.swiper.js--products-horisontal-slider
    .swiper-wrapper
        .swiper-slide
            .product.product-horisontal
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽

                    .product__price
                        span.product__permonth 5600
                            =" "
                            small ₽/месяц
                        span.product__deposit Залог 101.500 ₽
                    button.button.button-border-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
                    span.product__available.c-green Доступно к аренде

            .product.product-horisontal
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽

                    .product__price
                        span.product__permonth 5600
                            =" "
                            small ₽/месяц
                        span.product__deposit Залог 101.500 ₽
                    button.button.button-border-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
                    span.product__available.c-green Доступно к аренде
        .swiper-slide
            .product.product-horisontal
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽

                    .product__price
                        span.product__permonth 5600
                            =" "
                            small ₽/месяц
                        span.product__deposit Залог 101.500 ₽
                    button.button.button-border-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
                    span.product__available.c-green Доступно к аренде
            .product.product-horisontal
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽

                    .product__price
                        span.product__permonth 5600
                            =" "
                            small ₽/месяц
                        span.product__deposit Залог 101.500 ₽
                    button.button.button-border-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
                    span.product__available.c-green Доступно к аренде
        .swiper-slide
            .product.product-horisontal
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽

                    .product__price
                        span.product__permonth 5600
                            =" "
                            small ₽/месяц
                        span.product__deposit Залог 101.500 ₽
                    button.button.button-border-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
                    span.product__available.c-green Доступно к аренде
            .product.product-horisontal
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽

                    .product__price
                        span.product__permonth 5600
                            =" "
                            small ₽/месяц
                        span.product__deposit Залог 101.500 ₽
                    button.button.button-border-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
                    span.product__available.c-green Доступно к аренде
        .swiper-slide
            .product.product-horisontal
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽

                    .product__price
                        span.product__permonth 5600
                            =" "
                            small ₽/месяц
                        span.product__deposit Залог 101.500 ₽
                    button.button.button-border-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
                    span.product__available.c-green Доступно к аренде
            .product.product-horisontal
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2

                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽

                    .product__price
                        span.product__permonth 5600
                            =" "
                            small ₽/месяц
                        span.product__deposit Залог 101.500 ₽
                    button.button.button-border-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
                    span.product__available.c-green Доступно к аренде