.swiper.js--products-slider
    .swiper-wrapper
        .swiper-slide
            .product
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2
                    span.product__available.c-green Доступно к аренде
                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽
                    span.product__permonth 5600
                        =" "
                        small ₽/месяц
                    span.product__deposit Залог 101.500 ₽
                    button.button.button-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину

        .swiper-slide
            .product
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2
                    span.product__available.c-violet Доступно с 25 мая
                    .product__price
                        span.product__value 600
                            =" "
                            small ₽/месяц
                    span.product__permonth 5600
                        =" "
                        small ₽/месяц
                    span.product__deposit Залог 101.500 ₽
                    button.button.button-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину


        .swiper-slide
            .product.not-available
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2
                    span.product__available.c-red Скоро появится
                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽
                    span.product__permonth 5600
                        =" "
                        small ₽/месяц
                    span.product__deposit Залог 101.500 ₽
                    button(disabled).button.button-red.button-small
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
        .swiper-slide
            .product
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2
                    span.product__available.c-green Доступно к аренде
                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽
                    span.product__permonth 5600
                        =" "
                        small ₽/месяц
                    span.product__deposit Залог 101.500 ₽
                    button.button.button-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину

        .swiper-slide
            .product
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2
                    span.product__available.c-violet Доступно с 25 мая
                    .product__price
                        span.product__value 600
                            =" "
                            small ₽/месяц
                    span.product__permonth 5600
                        =" "
                        small ₽/месяц
                    span.product__deposit Залог 101.500 ₽
                    button.button.button-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину


        .swiper-slide
            .product.not-available
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2
                    span.product__available.c-red Скоро появится
                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽
                    span.product__permonth 5600
                        =" "
                        small ₽/месяц
                    span.product__deposit Залог 101.500 ₽
                    button(disabled).button.button-red.button-small
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину
        .swiper-slide
            .product
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2
                    span.product__available.c-green Доступно к аренде
                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽
                    span.product__permonth 5600
                        =" "
                        small ₽/месяц
                    span.product__deposit Залог 101.500 ₽
                    button.button.button-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину

        .swiper-slide
            .product
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2
                    span.product__available.c-violet Доступно с 25 мая
                    .product__price
                        span.product__value 600
                            =" "
                            small ₽/месяц
                    span.product__permonth 5600
                        =" "
                        small ₽/месяц
                    span.product__deposit Залог 101.500 ₽
                    button.button.button-red
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину

        .swiper-slide
            .product.not-available
                .product__images
                    .tabs
                        ul.tabs__caption
                            li.active
                            li

                        .tabs__content.active
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                        .tabs__content
                            picture
                                source(type='image/webp' srcset='/src/assets/images/dallas-2.webp')
                                img(src='/src/assets/images/dallas-2.webp' alt='dallas-2')

                .product__content
                    p.subtitle-2 Палатка двухместная автоматическая серая Dallas 2
                    span.product__available.c-red Скоро появится
                    .product__price
                        span.product__percent -22%
                        span.product__value 600
                            =" "
                            small ₽/месяц
                        span.product__discount 500 ₽
                    span.product__permonth 5600
                        =" "
                        small ₽/месяц
                    span.product__deposit Залог 101.500 ₽
                    button(disabled).button.button-red.button-small
                        svg(width=24 height=24 fill='none')
                            use(xlink:href='/public/sprite.svg#icon--cart')
                        span В корзину

