.swiper.js--products-slider-cart
    .swiper-wrapper
        .swiper-slide
            .product.product-additionally
                .product__additionally
                    span.product__percent -22%
                    button.add.no-style.c-red +

                .product__images
                    picture
                        source(type='image/webp' srcset='/src/assets/images/sleeping-bag.webp')
                        img(src='/src/assets/images/sleeping-bag.png' alt='Спальный мешок')

                .product__content
                    p.semibold Спальный мешок
                    span.product__value 600
                        =" "
                        small ₽/месяц

        .swiper-slide
            .product.product-additionally
                .product__additionally
                    span.product__percent -22%
                    button.add.no-style.c-red +

                .product__images
                    picture
                        source(type='image/webp' srcset='/src/assets/images/sleeping-bag.webp')
                        img(src='/src/assets/images/sleeping-bag.png' alt='Спальный мешок')

                .product__content
                    p.semibold Спальный мешок
                    span.product__value 600
                        =" "
                        small ₽/месяц

        .swiper-slide
            .product.product-additionally
                .product__additionally
                    span.product__percent -22%
                    button.add.no-style.c-red +

                .product__images
                    picture
                        source(type='image/webp' srcset='/src/assets/images/sleeping-bag.webp')
                        img(src='/src/assets/images/sleeping-bag.png' alt='Спальный мешок')

                .product__content
                    p.semibold Спальный мешок
                    span.product__value 600
                        =" "
                        small ₽/месяц

        .swiper-slide
            .product.product-additionally
                .product__additionally
                    span.product__percent -22%
                    button.add.no-style.c-red +

                .product__images
                    picture
                        source(type='image/webp' srcset='/src/assets/images/sleeping-bag.webp')
                        img(src='/src/assets/images/sleeping-bag.png' alt='Спальный мешок')

                .product__content
                    p.semibold Спальный мешок
                    span.product__value 600
                        =" "
                        small ₽/месяц

        .swiper-slide
            .product.product-additionally
                .product__additionally
                    span.product__percent -22%
                    button.add.no-style.c-red +

                .product__images
                    picture
                        source(type='image/webp' srcset='/src/assets/images/sleeping-bag.webp')
                        img(src='/src/assets/images/sleeping-bag.png' alt='Спальный мешок')

                .product__content
                    p.semibold Спальный мешок
                    span.product__value 600
                        =" "
                        small ₽/месяц

        .swiper-slide
            .product.product-additionally
                .product__additionally
                    span.product__percent -22%
                    button.add.no-style.c-red +

                .product__images
                    picture
                        source(type='image/webp' srcset='/src/assets/images/sleeping-bag.webp')
                        img(src='/src/assets/images/sleeping-bag.png' alt='Спальный мешок')

                .product__content
                    p.semibold Спальный мешок
                    span.product__value 600
                        =" "
                        small ₽/месяц

        .swiper-slide
            .product.product-additionally
                .product__additionally
                    span.product__percent -22%
                    button.add.no-style.c-red +

                .product__images
                    picture
                        source(type='image/webp' srcset='/src/assets/images/sleeping-bag.webp')
                        img(src='/src/assets/images/sleeping-bag.png' alt='Спальный мешок')

                .product__content
                    p.semibold Спальный мешок
                    span.product__value 600
                        =" "
                        small ₽/месяц

        .swiper-slide
            .product.product-additionally
                .product__additionally
                    span.product__percent -22%
                    button.add.no-style.c-red +

                .product__images
                    picture
                        source(type='image/webp' srcset='/src/assets/images/sleeping-bag.webp')
                        img(src='/src/assets/images/sleeping-bag.png' alt='Спальный мешок')

                .product__content
                    p.semibold Спальный мешок
                    span.product__value 600
                        =" "
                        small ₽/месяц

        .swiper-slide
            .product.product-additionally
                .product__additionally
                    span.product__percent -22%
                    button.add.no-style.c-red +

                .product__images
                    picture
                        source(type='image/webp' srcset='/src/assets/images/sleeping-bag.webp')
                        img(src='/src/assets/images/sleeping-bag.png' alt='Спальный мешок')

                .product__content
                    p.semibold Спальный мешок
                    span.product__value 600
                        =" "
                        small ₽/месяц
