section
    details(open).seo-text
        summary
            h3 Заголовок

        .details__content
            p  Идейные соображения высшего порядка, а&nbsp;также новая модель организационной деятельности играет важную роль в&nbsp;формировании модели развития. Разнообразный и&nbsp;богатый опыт укрепление и&nbsp;развитие структуры обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании дальнейших направлений развития.