section.steps
    h2 Как взять в&nbsp;аренду

    ul.steps__list
        li.step
            span.step__number 1
            .step__text
                h3.c-red Выбор вещей
                p Выберите понравившиеся вещи и&nbsp;добавьте их&nbsp;в&nbsp;корзину.
        li.step
            span.step__number 2
            .step__text
                h3.c-red Выбор вещей
                p Выберите понравившиеся вещи и&nbsp;добавьте их&nbsp;в&nbsp;корзину.
        li.step
            span.step__number 3
            .step__text
                h3.c-red Онлайн-бронирование
                p Выберите даты аренды и&nbsp;оставьте заявку на&nbsp;сайте. Мы&nbsp;свяжемся с&nbsp;Вами, чтобы уточнить детали заказа.
        li.step.step-l
            span.step__number 4
            .step__text
                h3.c-red Аренда
                p  Весь срок аренды мы&nbsp;будем на&nbsp;связи, чтобы ответить на&nbsp;все Ваши вопросы.
        li.step.step-l
            span.step__number 5
            .step__text
                h3.c-red Возврат вещей
                p В&nbsp;день окончания аренды&nbsp;Вы сможете вернуть вещь курьером или лично в&nbsp;нашем офисе.