.subcategories__list
    .swiper.js--mobile-subcategories
        .swiper-wrapper
            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-1@2x.webp 2x, /src/assets/images/img--category-1.webp 1x')
                            img(src='/src/assets/images/img--category-1@2x.png 2x, /src/assets/images/img--category-1.png 1x')

                    span.subcategory__name Палатки и спальники

            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-2@2x.webp 2x, /src/assets/images/img--category-2.webp 1x')
                            img(src='/src/assets/images/img--category-2@2x.png 2x, /src/assets/images/img--category-2.png 1x')

                    span.subcategory__name Велосипеды

            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-3@2x.webp 2x, /src/assets/images/img--category-3.webp 1x')
                            img(src='/src/assets/images/img--category-3@2x.png 2x, /src/assets/images/img--category-3.png 1x')

                    span.subcategory__name Игровые приставки и&nbsp;VR

            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-4@2x.webp 2x, /src/assets/images/img--category-4.webp 1x')
                            img(src='/src/assets/images/img--category-4@2x.png 2x, /src/assets/images/img--category-4.png 1x')

                    span.subcategory__name Стройинструменты

            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-5@2x.webp 2x, /src/assets/images/img--category-5.webp 1x')
                            img(src='/src/assets/images/img--category-5@2x.png 2x, /src/assets/images/img--category-5.png 1x')

                    span.subcategory__name Проекторы и&nbsp;TV

            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-6@2x.webp 2x, /src/assets/images/img--category-6.webp 1x')
                            img(src='/src/assets/images/img--category-6@2x.png 2x, /src/assets/images/img--category-6.png 1x')

                    span.subcategory__name Пылесосы, уборка и&nbsp;клининг

            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-6@2x.webp 2x, /src/assets/images/img--category-6.webp 1x')
                            img(src='/src/assets/images/img--category-6@2x.png 2x, /src/assets/images/img--category-6.png 1x')

                    span.subcategory__name Пылесосы, уборка и&nbsp;клининг

            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-5@2x.webp 2x, /src/assets/images/img--category-5.webp 1x')
                            img(src='/src/assets/images/img--category-5@2x.png 2x, /src/assets/images/img--category-5.png 1x')

                    span.subcategory__name Проекторы и&nbsp;TV

            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-6@2x.webp 2x, /src/assets/images/img--category-6.webp 1x')
                            img(src='/src/assets/images/img--category-6@2x.png 2x, /src/assets/images/img--category-6.png 1x')

                    span.subcategory__name Пылесосы, уборка и&nbsp;клининг

            .swiper-slide
                a(href='').subcategory
                    .subcategory__img
                        picture
                            source(type='image/webp' srcset='/src/assets/images/img--category-6@2x.webp 2x, /src/assets/images/img--category-6.webp 1x')
                            img(src='/src/assets/images/img--category-6@2x.png 2x, /src/assets/images/img--category-6.png 1x')

                    span.subcategory__name Пылесосы, уборка и&nbsp;клининг
