section.popular
    .section__header.justify
        h2 Вы смотрели

        .slider-buttons
            .swiper-button-prev.button.button.button-gray.swiper-button-prev
                svg(width=24 height=24)
                    use(xlink:href='/public/sprite.svg#angle--left')
            .swiper-button-next.button.button-gray.swiper-button-next
                svg(width=24 height=24)
                    use(xlink:href='/public/sprite.svg#angle--right')

    include products-slider